@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
	margin: 0;
	padding: 0;
}

$black: hsla(0, 5%, 19%, 1);
$red: hsla(0, 58%, 46%, 1);
$orange: hsla(0, 86%, 58%, 1);
$blue: hsla(192, 98%, 44%, 1);
$lightgrey: hsla(0, 7%, 97%, 1);
$pink: hsla(6, 87%, 68%, 1);

h1, h2, h3, h4 {
	cursor: default;
	margin: 0;
}

h4 {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
}

.list {
	display: flex;
}

.container {
	width: 55%;
	margin: 0 auto;
}

button {
	margin-top: 30px;
	padding: 14px 22px;
	outline: none;
	letter-spacing: 3px;
	font-size: 16px;
	transition: .3s ease-out;
	font-weight: 700;
	font-family: 'poiret one';
	&:hover {
		cursor: pointer;
	}
}

section {
	width: 98.9vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'poiret one';
}

.icons {
	margin-bottom: 10px;
	display: flex;
	a {
		border: 4px solid $black;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		text-decoration: none;
		color: $black;
		transition: .3s ease-out;
		&:hover {
			background-color: $blue;
			color: $lightgrey;
			border: 4px solid $blue;
		}
		i {
			font-size: 22px;
			margin: 0 10px;
		}
	}
}

.header .list {
	li a {
		margin: 10px 30px;
		color: $orange;
		font-family: 'poiret one';
		font-size: 17px;
		transition: .3s ease-out;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		&:hover {
			color: $blue;
		}
	}
	li:nth-of-type(1) {
		border-bottom: 5px solid grey;
	}
	li:nth-of-type(2) {
		border-bottom: 5px solid $blue;
	}
	li:nth-of-type(3) {
		border-bottom: 5px solid $red;
	}
	li:nth-of-type(4) {
		border-bottom: 5px solid $black;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: $lightgrey;
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h1 {
			font-family: 'cookie';
			font-size: 100px;
			padding: 20px 40px;
			border-top: none;
			color: $orange;
			text-shadow: 2px 3px lightgrey;
			font-weight: 100;
		}
		nav:first-of-type {
			width: 98.9vw;
			ul {
				align-items: center;
				justify-content: space-between;
				li {
					color: grey;
					cursor: default;
				}
				div {
					background-color: $blue;
					border-radius: 5px;
					margin-top: 10px;
					box-shadow: 0 0 5px $black;
					transform: rotate(10deg);
					div {
						border: 1px solid white;
						background-color: white;
						height: 10px;
						width: 10px;
						margin: 8px 0 0 10px;
						border-radius: 50%;
					}
					h2 {
						color: white;
						font-size: 20px;
						font-family: 'poiret one';
						letter-spacing: 7px;
						padding: 0 20px 20px 40px;
						text-shadow: 0 0 10px $black;
						.upper {
							font-weight: 900;
						}
					}
				}
				.medium {
					font-size: 30px;
					color: $blue;
				}
				.large {
					font-size: 45px;
					color: $orange;
				}
				.xl {
					font-size: 75px;
				}
			}
		}
		button {
			background-color: white;
			border: none;
			box-shadow: 0 0 1px $black;
			padding: 1px;
			letter-spacing: 1px;
			border-radius: 3px;
			outline: none;
			height: 40px;
			position: absolute;
			top: -16px;
			right: 10px;
			p {
				border: 1px solid $black;
				width: 25px;
				margin: 6.5px;
				transition: .3s ease-out;
			}
			&:hover p:nth-of-type(1) {
				margin: 0 0 0 6px;
			}
			&:hover p:nth-of-type(2) {
				margin: 8px 0 10px 6px;
			}
			&:hover p:nth-of-type(3) {
				margin: 8px 7px 0 6px;
			}
		}
		#navi {
			overflow: hidden;
			margin: 60px 0 40px;
			.list {
				li a {
					margin: 10px 30px;
					color: $orange;
					font-family: 'poiret one';
					font-size: 17px;
					transition: .3s ease-out;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 2px;
					&:hover {
						color: $blue;
					}
				}
				li:nth-of-type(1) {
					border-bottom: 5px solid grey;
				}
				li:nth-of-type(2) {
					border-bottom: 5px solid $blue;
				}
				li:nth-of-type(3) {
					border-bottom: 5px solid $red;
				}
				li:nth-of-type(4) {
					border-bottom: 5px solid $black;
				}
			}
		}
	}
	main {
		#about-me {
			background-color: $black;
			h3 {
				font-size: 55px;
				color: white;
				letter-spacing: 4px;
				text-shadow: 2px 2px 2px $red;
			}
			h3:nth-of-type(1) {
				margin: 0 0 10px;
				span#end {
					font-size: 50px;
					border-top: 10px solid $blue;
					border-bottom: 10px solid $blue;
					font-family: 'cookie';
					letter-spacing: 7px;
					color: $red;
					font-weight: 700;
					text-shadow: none;
				}
			}
			p {
				color: $blue;
				font-size: 28px;
				margin-top: 50px;
				letter-spacing: 5px;
				font-family: 'cookie';
			}
			button {
				background-color: $black;
				border: 3px solid white;
				color: white;
				&:hover {
					background-color: transparentize(grey, .8);
					color: white;
				}
			}
		}
		#portfolio {
			background-color: $red;
			#icon {
				display: flex;
				align-items: center;
				i {
					color: white;
					font-size: 300px;
					text-shadow: 1px 3px 5px $black;
				}
				h3 {
					color: white;
					letter-spacing: 2px;
					font-weight: 700;
					margin-left: 20px;
					font-size: 31px;
				}
				.amazing {
					color: $blue;
					font-family: 'cookie';
					font-size: 60px;
					letter-spacing: 4px;
					text-shadow: 1px 2px $black;
				}
			}
			h4 {
				margin-top: 30px;
				color: white;
				font-size: 26px;
				i {
					font-size: 33px;
				}
			}
		}
		#contact {
			height: 80vh;
			h3 {
				font-size: 55px;
				font-weight: 700;
				color: $black;
			}
			button {
				color: $black;
				margin-top: 50px;
				background-color: $lightgrey;
				border: 3px solid $black;
				&:hover {
					background-color: $black;
					color: $lightgrey;
				}
			}
			hr {
				border: 1px solid $black;
				width: 55%;
				margin: 50px 0 40px;
			}
			h4 {
				margin: 0 0 30px;
			}
			#a {
				margin-top: 17px;
				font-size: 17px;
				color: $black;
				font-weight: 700;
				letter-spacing: 1px;
			}
		}
	}
}
#body-me {
	background-color: $black;
	h1 {
		color: $blue;
		text-shadow: 1px 3px $lightgrey;
	}
	.list {
		li:nth-of-type(2) {
			background-color: $lightgrey;
			a {
				color: $black;
				&:hover {
					color: $blue;
				}
			}
		}
		li:nth-of-type(4) {
			border-bottom-color: $lightgrey;
		}
		li {
			padding: 8px 0;
			a {
				color: $blue;
				&:hover {
					color: $lightgrey;
				}
			}
		}
	}
	#main-me {
		font-family: 'poiret one';
		margin-top: 18px;
		li, p {
			font-size: 18px;
			letter-spacing: 1px;
			font-weight: 700;
		}
		#img-me {
			height: 70vh;
			width: 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
			#img {
				h3 {
					text-align: center;
					color: $lightgrey;
					font-size: 30px;
					font-family: 'cookie';
					letter-spacing: 2px;
					margin: 0 50px 15px 0;
					color: $blue;
				}
				img {
					margin-right: 50px;
					border: 3px solid $lightgrey;
				}
			}
			#list1 {
				border-left: 2px solid $blue;
				padding-left: 50px;
				height: 450px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 40%;
				animation: flash linear 5s;
				animation-timing-function: steps end;
				@keyframes flash {
					0% { border-left: 2px solid $blue;
						height: 0;}
					50% { border-left: 2px solid $blue;
						height: 450px;}
				}
				li {
					margin: 10px 0;
					color: $lightgrey;
					animation: lettering linear 5s;
					animation-timing-function: steps-end;
					@keyframes lettering {
						0% { margin: -10px 0;}
						50% {margin: 10px 0;}
					}
					a {
						color: $blue;
						font-size: 20px;
					}
				}
			}
			#skills {
				display: flex;
				flex-direction: column;
				margin: 10px 0 0 50px;
				div {
					color: $lightgrey;
					padding: 10px;
					p {
						color: $lightgrey;
						text-align: center;
						margin: 8px 0;
					}
				}
				div:nth-of-type(1) {
					background-color: $blue;
				}
				div:nth-of-type(2) {
					background-color: $orange;
				}
				div:nth-of-type(3) {
					background-color: grey;
				}
			}
		}
	}
}

#body-contact {
	font-family: 'poiret one';
	background-color: hsl(0, 38%, 44%);
	h1 {
		color: $lightgrey;
		text-shadow: 2px 2px grey;
	}
	a, p {
		color: $lightgrey;
		letter-spacing: 2px;
	}
	li {
		padding: 8px 0;
		a:hover {
			color: $pink;
		}
	}
	li:nth-of-type(4) {
		background-color: $lightgrey;
		a {
			color: $pink;
		}
	}
	h4 {
		font-size: 26px;
		color: $lightgrey;
	}
	#contact-head {
		text-align: center;
		margin-top: 30px;
		h4 {
			margin: 40px 0 20px;
		}
		h4:last-of-type {
			margin: 0 0 50px;
		}
	}
	textarea, input, button {
		box-shadow: 2px 2px grey;
	}
	#main-contact {
		width: 100%;
		#contact {
			display: flex;
			justify-content: center;
			margin-top: 30px;
			#container {
				width: 485px;
				div:nth-of-type(1), div:nth-of-type(2) {
					display: flex;
					flex-direction: column;
				}
				.form-group, label {
					letter-spacing: 1px;
					margin-bottom: 15px;
					font-size: 20px;
					color: $lightgrey;
				}
				textarea {
					width: 95%;
					height: 200px;
					border-radius: 3px;
					padding: 5px 10px;
					margin-top: 15px;
				}
				label {
					font-weight: 900;
				}
				input {
					border-color: hsla(0, 0%, 66%, 1);
					padding: 8px 0 8px 8px;
				}
				#btn {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 50px;
					button {
						margin-top: 20px;
						border: 1px solid hsla(0, 0%, 66%, 1);
						color: $pink;
						font-weight: 900;
						padding: 10px 18px;
						&:hover {
							color: $lightgrey;
							border: 1px solid $pink;
							background-color: $pink;
						}
					}
				}
			}
			#info {
				margin-left: 80px;
				h4 {
					margin-bottom: 20px;
					font-size: 22px;
				}
				i {
					font-size: 20px;
					color: $pink;
					margin-right: 30px;
				}
				div:nth-of-type(1), div:nth-of-type(2), div:nth-of-type(3) {
					margin-bottom: 20px;
					font-size: 18px;
				}
				div:nth-of-type(1) {
					display: flex;
					margin-bottom: 25px;
					p {
						margin-left: 10px;
					}
				}
				div:nth-of-type(2) a {
					letter-spacing: 2px;
				}
				div:nth-of-type(3) {
					display: flex;
					margin: 10px 0 30px;
				}
				.icons a {
					border-radius: 0;
					border-color: $lightgrey;
					margin: 0 20px 0 0;
					&:hover {
						color: white;
						border-color: $pink;
						background-color: $pink;
						i {
							color: white;
						}
					}
					i {
						font-size: 18px;
						padding-left: 20px;
						color: $lightgrey;
					}
				}
			}
		}
	}
}

.hide {
	height: 0px;
	-webkit-transition: height 1s;
	transition: height 1s;
}

.show {
	height: 20px;
	-webkit-transition: height 1s;
	transition: height 1s;
}

@media screen and (max-width: 768px) {
	section {
		height: 55vh;
	}
    body {
	    header {
	    	h1 {
	    		font-size: 70px;
	    		padding: 10px 0 0;
	    	}
			nav:first-of-type .list {
		    	li {
		    		display: none;
		    	}
		    	div {
					transform: rotate(0deg);
					position: absolute;
					top: 2px;
					left: 10px;
					div {
						border: 0;
						height: 0;
						width: 0;
					}
					h2 {
						color: white;
						text-align: center;
						font-size: 20px;
						font-family: 'poiret one';
						padding: 0 5px 5px;
						.upper {
							font-weight: 900;
						}
					}
				}
		    }
		    #navi {
		    	margin: 40px 0 20px;
		    	.list {
					li {
						padding: 0;
						a {
							font-size: 15px;
							margin: 0 10px;
						}
					}
		    	}
		    }
	    }
	    main:first-of-type {
			#about-me {
				h3 {
					font-size: 35px;
				}
				h3:nth-of-type(1) {
					margin: 20px 0 10px;
					span#end {
						font-size: 47px;
						border-top: 8px solid $blue;
						border-bottom: 8px solid $blue;
					}
				}
				p {
					font-size: 23px;
				}
				button {
					font-size: 13px;
				}
			}
			#portfolio {
				#icon {
					i {
						font-size: 180px;
					}
					h3 {
						font-size: 22px;
					}
					.amazing {
						font-size: 37px;
					}
				}
				h4 {
					font-size: 18px;
					i {
						font-size: 20px;
					}
				}
		    }
		    #contact {
		    	height: 68vh;
		    	h3 {
		    		font-size: 35px;
		    	}
		    	a button {
		    		font-size: 15px;
		    		margin-top: 35px;
		    		padding: 7px 15px;
		    	}
		    	hr {
		    		margin: 40px 0 30px;
		    	}
		    	h4 {
		    		font-size: 23px;
		    		margin-top: 10px;
		    	}
		    	#icons a i {
					font-size: 23px;
		    	}
		    	#a {
		    		margin-top: 10px;
		    	}
		    }
		}
	}
	#body-contact {
		padding: 40px 0 100px;
		h1 {
			font-size: 70px;
		}
		header .list {
			margin-top: 20px;
			li a {
				font-size: 15px;
				margin: 0 10px;
			}
		}
		#main-contact #contact #container {
			width: 80%;
			label {
				font-size: 16px;
				letter-spacing: 2px;
			}
		}
	}
}

@media (min-width: 768px) {
	#navButton {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	section {
		height: 45vh;
	}
    body {
    	margin-top: 64px;
	    header {
	    	h1 {
	    		display: none;
	    	}
		    #navi {
		    	margin: 40px 0 20px;
		    	.list {
					li {
						padding: 0;
						a {
							font-size: 14px;
							margin: 0 10px;
						}
					}
		    	}
		    }
		    #logo {
				display: none;
			}
	    }
	    main:first-of-type {
			#about-me {
				h3 {
					font-size: 27px;
				}
				h3:nth-of-type(1) span#end {
					font-size: 38px;
				}
				p {
					font-size: 18px;
				}
				button {
					font-size: 10px;
					padding: 8px 12px;
				}
			}
			#portfolio {
				#icon {
					i {
						font-size: 130px;
						margin-left: 20px;
					}
					h3 {
						font-size: 16px;
					}
					.amazing {
						font-size: 28px;
					}
				}
				button {
					font-size: 10px;
					padding: 8px 12px;
				}
		    }
		    #contact {
		    	height: 58vh;
		    	h3 {
		    		font-size: 28px;
		    	}
		    	a button {
		    		font-size: 15px;
		    		margin-top: 35px;
		    		padding: 5px 12px;
		    	}
		    	h4 {
		    		font-size: 18px;
		    		margin-top: 10px;
		    	}
		    }
		}
	}
	#body-contact {
		#main-contact #contact #container #btn {
			display: flex;
			justify-content: center;
		}
	}
}